<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation de mot de passe</title>
</head>
<body>
    <h1>Réinitialisation de mot de passe</h1>
    <p>Bonjour,</p>
    <p>Vous avez demandé la réinitialisation de votre mot de passe pour {{ email }}. Veuillez cliquer sur le lien ci-dessous pour procéder à la réinitialisation :</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">Réinitialiser le mot de passe</a></p>
    <p>Votre nom d'utilisateur est : {{ user.get_username }}</p>
    <p>Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet e-mail.</p>
    <p>Merci,</p>
    <p>L'équipe Ad Associés</p>
</body>
</html>